@model ContactsData

<div class="col-md-4 text-center py-4">
    <div class="icon">
        <span class="@Model.Icon"></span>
    </div>
    <p><span>@Model.NameField:</span> <a href="#">@Model.Description</a></p>
</div>