@model FeaturesItem

<div class="services text-center">
    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="@Model.Icon"></span></div>
    <div class="text media-body">
        <h3>@Model.Header</h3>
        <p>@Model.Description</p>
    </div>
</div>