@Html.Partial("NavBarSummary")

<section class="hero-wrap hero-wrap-2" style="background-image: url(@Url.Content("~/images/bg_1.jpg"));">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">About Us</h1>
          </div>
        </div>
      </div>
</section>
<section class="ftco-section">
			<div class="container">
				<div class="row d-flex">
					<div class="col-md-5 order-md-last wrap-about align-items-stretch">
						<div class="wrap-about-border">
							<div class="img" style="background-image: url(@Url.Content("~/images/about.jpg")); border"></div>
							<div class="text">
								<h3>О нас</h3>
								<p>IParse разрабатывается с прицелом на парсинг и обработку больших объемов информации. Мы стремимся выпускать качественный и лучший на рынке продукт, который объединяет в себе более 10 лет опыта работы в индустрии парсинга. A-Parser активно развивается используя передовые технологии, что в конечном итоге дает вам больше результатов еще быстрее.</p>
							</div>
						</div>
					</div>
					<div class="col-md-7 wrap-about pr-md-4 ftco-animate">
          	<h2 class="mb-4">Добро пожаловать в IParse</h2>
						<p>IParse создавался и продолжает развиваться учитывая более чем 10 летний опыт разработки парсеров и многопоточных сетевых приложений, разработка ведется исключительно по следующим принципам:</p>
						<p>Максимальная эффективность использования ресурсов компьютера или сервера</p>
						<p>Функциональность и удобство использования, наш продукт ориентирован на пользователя</p>
						<p>Для каждой задачи выбирается лучший инструмент или алгоритм, предварительно прошедший тщательное тестирование</p>
					</div>
				</div>
			</div>
</section>

<section class="ftco-section ftco-counter">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-2 d-flex">
			<div class="col-md-6 align-items-stretch d-flex">
				<div class="img img-video d-flex align-items-center" style="background-image: url(@Url.Content("~/images/about.jpg"));">
					<div class="video justify-content-center">
						<a asp-href-include="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
						<span class="ion-ios-play"></span>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 heading-section ftco-animate pl-lg-5 pt-md-0 pt-5">
				<h2 class="mb-4">Лучшее Решение Для Ваших Нужд</h2>
				<p>На сегодняшний день IParse развился в невероятный SEO комбаин, позволяющий 
				покрыть огромное число задач для SEO-специалистов и вебмастеров любого уровня подготовки.</p>
				<p>Кроме этого мы предоставляем услуги по составлению заданий и написанию 
				парсеров под ваши задачи, в кратчайшие сроки и по демократичной цене. Хотите спарсить 
				целиком интернет магазин(Ozon, Amazon, AliExpress)? Проверить 100 миллионов сайтов по 
				вашим признакам? Получить данные с любого сайта в структурированном виде(CSV, JSON, XML, SQL)? В
					решении этих задач поможет наша дополнительная платная поддержка</p>

			</div>
		</div>	
	</div>
</section>